body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #1f2933;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    margin: 10px 0 5px;
}

.info h2{
    color: #000000;
}

p{
    color: #374151
}

header p {
    margin: 0;
    font-size: 16px;
    color: #4b5563;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.perfil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.foto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #e5e7eb;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    margin: 0;
}

.foto img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.info {
    flex: 1;
}

section {
    margin-top: 30px;
}

section h2 {
    margin-bottom: 15px;
    border-left: 5px solid #3b82f6;
    padding-left: 10px;
    color: #ffffff;
}

.skills,
.proyectos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.contactos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.contactos a{
    text-decoration: none;
    color: #000000;
}

.skills ul {
    list-style: none;
    color: #111827;
    padding: 0;
}

.skills li {
    padding: 30px ;
    border-bottom: 1px solid #111827;
}

.proyecto {
    margin-bottom: 15px;
}

.proyecto h3 {
    margin: 0 0 5px;
}

.proyecto p {
    margin: 0;
    font-size: 14px;
    color: #1f2933;
}

.proyecto-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;       
    background-color: #e5e7eb;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #6b7280;
    font-size: 14px;
}

.galeria {
    margin-top: 10px;
    display: grid;
    gap: 10px;
}

#modoOscuro {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

#modoOscuro:hover {
    background-color: #2563eb;
}

body.dark {
    background-color: #111827;
    color: #e5e7eb;
}

body.dark header {
    background-color: #020617;
}

body.dark .perfil,
body.dark .skills,
body.dark .proyectos {
    background-color: #1f2933;
    color: #e5e7eb;
}

body.dark section h2 {
    color: #ffffff;
    border-left-color: #60a5fa;
}

body.dark footer {
    color: #9ca3af;
}

body,
header,
.perfil,
.skills,
.proyectos,
footer,
section h2 {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.proyecto-img {
    position: relative;
    transition: box-shadow 0.3s ease;
}

.proyecto-img:hover {
    box-shadow: 
        0 0 8px rgba(59, 130, 246, 0.6),
        0 0 16px rgba(59, 130, 246, 0.4);
}

body.dark .info h2{
    color: #ffffff;
}

.foto {
    transition: box-shadow 0.3s ease;
}

.foto:hover {
    box-shadow: 
        0 0 10px rgba(59, 130, 246, 0.6),
        0 0 20px rgba(59, 130, 246, 0.4);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;

    background: linear-gradient(
        120deg,
        #020617,
        #1e293b,
        #0f172a,
        #2563eb,
        #020617
    );

    background-size: 500% 500%;
    animation: gradienteVivo 12s ease-in-out infinite;
    transition: background 0.6s ease, color 0.6s ease;
}

body.dark p {
    color: #e5e7eb;
}

body.dark ul {
    color: #e5e7eb;
}


body.dark header p {
    color: #cbd5e1;
}

body.dark {
    background-color: #020617;
    color: #f1f5f9;
}


@keyframes gradienteVivo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    .perfil {
        flex-direction: column;
        text-align: center;
    }
}
